<%= turbo_frame_tag :new_answer do %>
    <% if user_signed_in? %>
        <%= render "form", question: @question, answer: @answer %>
    <% else %>
    <p class="">You need to sign in to post and Answer</p>        
    <% end %>
<% end %>
